 /* 
 font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
 */
header{
	height: 90px;
	box-shadow: 0 0 10px #ccc;
}
header a{
	font-size: 18px;
}
 .logo{
font-family: 'Josefin Sans', sans-serif;
font-size: 56px;
line-height: 90px;
color: #707a7c;
 }
 .navy ul{
	float: right;
	color: #ccc;}
 .navy li{
 	font-size: 20px;
 	border-bottom: 2px solid rgba(255, 125, 125, 0);
 	padding-left: 15px;
 	padding-right: 15px;
 	display: block;
 	float: left;
 	line-height: 90px;
 }
 li:hover{
 	border-bottom: 2px solid rgba(255, 125, 125, 1);
 	transition:0.9s all;}
 li > a { display: block; font-weight: 300; 
  }
.promo{
	background-image: url('../img/promobg.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 380px;
	font-family: 'Roboto', sans-serif;
	background-attachment: fixed;
	opacity: 0;
	height: 830px;
}

.promo h1{
font-size: 56px;
color: #707a7c;
text-align: center;
font-weight: 300;
margin-top: 0px;
 }
 .promo h3{
font-size: 24px;
color: #777;
text-align: center;
padding-top: 30px;
font-weight: 300;
 }

 .promo p{
font-size: 24px;
color: #777;
font-weight: 300;
width: 440px;
margin: auto;
text-align: center;
 }
 p{
 	font-size: 56px;
 	font-weight: 100;
 	color: #707a7c;
 	padding-top: 15px;
 }
 .reg{
 	width: 600px;
 	margin: auto;
 	font-size: 36px;
 	padding-bottom: 30px;
 	border-bottom: 1px solid #ccc; 
 }
 span.num{
 	display: block;
 	text-align: center;
 	font-size: 48px;
 	width: 65px;
 	height: 65px;
 	background: #ffffff;
 	color: #5c729c;
	border-radius: 60px;
	float: left;
 	border: 2px solid #5c729c;
 	padding-top: 1px;
 }
 span.text{
 	font-weight: 300;
 	text-align: left;
 	display: block;
 	font-size: 20px;
 	color: #707a7c;
 	margin: 10px 25px 60px 80px;
 }
 .paralax1{
 	background-image: url('../img/paralax1.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	height: 1000px;
 }
.paralax2{
 	background-image: url('../img/paralax2.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	height: 1000px;
 }
 .paralax3{
 	background-image: url('../img/paralax3.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	height: 1000px;
 }
 .paralax4{
 	background-image: url('../img/paralax4.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	height: 1000px;
 }
 .paralax5{
 	background-image: url('../img/paralax5.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	height: 1000px;
 }

 article{
 	box-shadow: 0 5px 10px rgba(72, 72, 72, 0.41);
 	position: relative;
 	background: #fff;
 	margin-top: -300px;
 }
 .wrap{
 	margin-top: 50px;
 	text-align: center;
 }
 article h2{
 	font-family: 'Roboto', sans-serif;
 	font-weight: 200;
 	font-size: 48px;
 	text-align: center;
 	color: #5c729c;
 }
 article h3{
 	font-family: 'Roboto', sans-serif;
 	font-weight: 200;
 	font-size: 30px;
 	text-align: center;
 	color: #5c729c;
 }
 .anim{
 	opacity: 0;
 }
  .anim2{
 	opacity: 0;
 }
  .anim3{
 	opacity: 0;
 }
 .anim4{
 	opacity: 0;
 }
  .anim5{
 	opacity: 0;
 }
  .anim6{
 	opacity: 0;
 }

 input{
 	font-size: 18px !important;
 	color: #5c729c !important;
	width: 80%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
 	float: right;
 	padding-left: 10px;
 }
 button{
 	width: 360px;
 	height: 50px;
 	background: #da0000;
 	font-size: 24px !important;
 	font-weight: 500!important;
 	color: #fff!important;
 	border: none;
 	border-radius: 50px;
 }
 .in{
 	font-size: 18px;
 	color: #757575;
 	padding-bottom: 20px;
 	line-height: 40px;
 }
 .inp{
 	margin-top: 20px;
 	margin-bottom: 30px;
 	text-align: center;
 	font-size: 24px;
 }
 .alcentr{
 	text-align: center;
 	margin-bottom: 50px;
 }
 footer{
 	min-height: 300px;
 	background:#ffffff;
 }
 footer .dark{
 	height: 70px;
 	background: #ffc800;
 }
 footer h3{
 	font-weight: 200;
 	font-size: 30px;
 }
 footer input{
 	padding-left: 20px;
 	margin-top: 10px;
 	height: 50px;
 	width: 50%;
 	float: left;
 	border: 0px;
 	border-radius: 0;
 	border-bottom-left-radius: 100px;
 	border-top-left-radius: 100px;
 }
 footer button{
 	width: 80px;
 	margin-top: 10px;
 	height: 50px;
 	background: #353535;
 	border: 0px;
 	border-radius: 0;
 	border-bottom-right-radius: 100px;
 	border-top-right-radius: 100px;
 }
 footer button:hover{
 	background: #424c5a;
 }
 footer h4{
 	margin-top: 30px;
 	font-weight: 200;
 	font-size: 24px;
 }
 footer p{
 	font-size: 20px;
 	color:#000;
 	padding-left: 30px;
 }
 footer img{
 	padding-right: 20px;
 }
 .black{background: #222;
 	color: #fff;
	height: 40px;
	padding-left: 40px;
	padding-top: 10px;
	font-size: 16px
 }
/*---------------------------------------------------------------------*/
 @media (max-width: 1100px) {
 	button{
 	width: 80%;
 	font-size: 20px !important;
 }
 	.promo{
	background-image: url('../img/promobg.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	background-position-x: center;
	background-position-y: 300px;
	font-family: 'Roboto', sans-serif;
	opacity: 0;
	background-attachment: scroll;
	}
	header{
	height: 120px;
	box-shadow: 0 0 10px #ccc;
	}
	header a{
	padding-top: 0px;
	font-size: 16px;
}
	.logo{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 72px;
	line-height: 120px;
	color: #e07516;
	padding-left: 10px;
 }
 .navy ul {
    color: #ccc;
    height: 100%;
    width: 100%;
    padding: 5px;;
}
.navy li {;
	padding: 10px;;
	line-height: 30px;
}
.promo h1{
font-size: 48px;
color: #707a7c;
text-align: center;
font-weight: 500;
margin-top: 0px;
 }
 .promo h3{
font-size: 24px;
color: #777;
text-align: center;
padding-top: 10px;
font-weight: 300;
 }

 .promo p{
font-size: 24px;
color: #777;
font-weight: 300;
width: 90%;
margin: auto;
text-align: center;
 }
 p {
 	font-size: 36px;
 	padding: 15px 5px 0 5px;
 }
 span.num{
 	display: block;
 	text-align: center;
 	font-size: 36px;
 	width: 50px;
 	height: 50px;
 	background: #ffffff;
 	color: #5c729c;
	border-radius: 60px;
	float: left;
 	border: 2px solid #5c729c;
 	padding-top: 1px;
 	margin-right: 5px;
 }
 span.text{
 	font-weight: 300;
 	text-align: left;
 	display: block;
 	font-size: 18px;
 	color: #707a7c;
 	margin: 10px 0px 60px 0px;
 }
 

 footer{
 	min-height: 300px;
 	background:#ffffff;
 }
 footer .dark{
 	height: auto;;
 	background: #ffc800;
 }
 footer h3{
 	font-weight: 200;
 	font-size: 20px;
 	padding: 0 5px 0 5px;;
 }
 footer input{
 	padding-left: 20px;
 	margin-top: 10px;
 	height: 50px;
 	width: 70%;
 	float: left;
 	border: 0px;
 	border-radius: 0;
 	border-bottom-left-radius: 100px;
 	border-top-left-radius: 100px;
 }
 footer button{
 	width: 30%;;
 	margin-top: 10px;
 	height: 50px;;;
 	background: #353535;
 	border: 0px;
 	border-radius: 0;
 	border-bottom-right-radius: 100px;
 	border-top-right-radius: 100px;
 }
 footer button:hover{
 	background: #424c5a;
 }
 footer h4{
 	margin-top: 30px;
 	font-weight: 200;
 	font-size: 24px;
 }
 footer p{
 	font-size: 20px;
 	color:#000;
 	padding-left: 30px;
 }
 footer img{
 	padding-right: 20px;
 }
 .black{background: #222;
 	color: #fff;
	height: 40px;
	padding-left: 40px;
	padding-top: 10px;
	font-size: 16px
 }
 .paralax1{
 	background-image: url('../img/paralax1.png');
 	background-repeat: no-repeat;
 	background-size: 200%;
 	background-attachment: scroll;
 	background-position-x: center;
 	background-position-y: 0px !important;
 	height: 700px;
 }
 .paralax2{
 	background-image: url('../img/paralax2.png');
 	background-repeat: no-repeat;
 	background-size: 200%;
 	background-attachment: scroll;
 	background-position-x: center;
 	background-position-y: 0px !important;
 	height: 700px;
 }
.paralax3{
 	background-image: url('../img/paralax3.png');
 	background-repeat: no-repeat;
 	background-size: 200%;
 	background-attachment: scroll;
 	background-position-x: center;
 	background-position-y: 0px !important;
 	height: 800px;
 }
 .paralax4{
 	background-image: url('../img/paralax4.png');
 	background-repeat: no-repeat;
 	background-size: 200%;
 	background-attachment: scroll;
 	background-position-x: center;
 	background-position-y: 0px !important;
 	height: 700px;
 }
 .paralax5{
 	background-image: url('../img/paralax5.png');
 	background-repeat: no-repeat;
 	background-size: 200%;
 	background-attachment: scroll;
 	background-position-x: center;
 	background-position-y: 0px !important;
 	height: 700px;
 }
 .ins{;
	margin: 0 10px 20px 10px;;
	max-width: 100%;
 /* margin: auto; */;
 }

 }